:root {
    --white: #ffffff;
    --dark: #000000;
    --primary: #b30000;
    --secundary: #799deb;
    --secundaryLight: #dfd4c0;
    --radio-borde: 0.5rem;

}

html {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}


/* tamaños para los textos */
h1 {
    margin: 1rem;
    text-align: center;
    font-size: 4rem;
    color: var(--dark);
    font-weight: bolder;
}

h1 span {
    font-size: 2rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* barra de navegación  */
.navegacion {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 
    @media query para modificar reglas:
    Se aplican las reglas quel hay dentro de la media query
    si la ventana del navegador mide un mínimo de 480px
    */
@media (min-width: 480px) {
    .navegacion {
        flex-direction: row;
        justify-content: space-around;
    }
}

/* enlaces de la barra de navegación */
.navegacion a {
    padding: 1rem;
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.5;
}

.navegacion a:hover {
    background-color: var(--secundary);
    color: var(--dark);
}


main {
    padding: 1em;
}

section {
    margin-bottom: 2em;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    /* Tamaño de la fuente */
    text-transform: uppercase;
    /* Transformación del texto a mayúsculas */
    letter-spacing: 2px;
    /* Espaciado entre letras */
    background: linear-gradient(to right, #e02424, #ec8181);
    /* Degradado de fondo */
    -webkit-background-clip: text;
    /* Recorte del fondo para texto en navegadores WebKit */
    color: transparent;
    /* Texto transparente para mostrar el degradado */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    /* Sombra del texto */
    padding: 10px;
    /* Espaciado interno */
    border-radius: 10px;
    /* Bordes redondeados */
    border: 2px solid #feb47b;
    /* Borde del título */


}






/* From Uiverse.io by G4b413l */
.card {
    position: relative;
    width: 100%;
    max-width: 11.875em;
    /* Para mantener el tamaño original */
    height: 16.5em;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0.5em;
    padding-bottom: 3.4em;
}

.card::after {
    content: "Add to Cart";
    padding-top: 1.25em;
    padding-left: 1.25em;
    position: absolute;
    left: 0;
    bottom: -60px;
    background: #00AC7C;
    color: #fff;
    height: 2.5em;
    width: 90%;
    transition: all 80ms;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
}

.card .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 1.875em;
    font-weight: 400;
    color: #000;
}

.card .price {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 0.625em;
    color: #000;
}

.card:hover::after {
    bottom: 0;
    opacity: 1;
}

.card:active {
    transform: scale(0.98);
}

.card:active::after {
    content: "Added !";
    height: 3.125em;
}

.text {
    max-width: 55px;
}

.image {
    background: rgb(241, 241, 241);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    position: relative;
}

.image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* Estilos adicionales para la distribución */
#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#products .card {
    flex: 1 1 calc(25% - 1em);
    margin: 0.5em;
    box-sizing: border-box;
}